<form>


  <input type="text" [(ngModel)]="filtroConcepto" name="concepto" (keyup)="keyUP.next($event)" />

</form>

<table>
  <thead>
    <th>ID</th>
    <th>Concepto</th>
    <th>Importe</th>
    <th>Categoría</th>
  </thead>
  <tbody>
    <tr *ngFor="let producto of lista">
      <app-fila-producto
       [producto]="producto"
       [productoEditado]="productoEditado"
        (eventoBorrar)="borrarProductoEvento($event)"
        (eventoDetalle)="detalleProductoEvento($event)"
        (eventoEdicionRapida)="edicionRapidaEvento($event)"
        (eventoEdicion2)="edicion2Evento($event)"
        (eventoSalvar)="salvarProductoEvento($event)"></app-fila-producto>
    </tr>
  </tbody>
</table>

<!-- el router admite muchas parametrizaciones-->
<a [routerLink]="['/formulario']">nuevo</a>
